<!DOCTYPE html>
<html>
    <head>
        <title>Delete_user_success</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/styles/person.css" />

    </head>
    <body>
        <%- include ('nav_bar.ejs') -%>
        <h1><%= data.fname_d %> <%= data.lname_d %> User successfully deleted.</h1>
    </body>
</html>
