<!DOCTYPE html>
<html>
    <head>
        <title>Display_person</title>
        <meta name="viewport" content="width=device-width,initial-schale=1.0" />
        <link rel="stylesheet" type="text/css" href="person.css" />
    </head>
    <body>
        <%- include ('nav_bar') -%>
        <h1>User successfully saved</h1>
    </body>
</html>