<!DOCTYPE html>
<html>
    <head>
        <title>Display_person</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/styles/person.css" />
    </head>
    <body>
        <%- include ('nav_bar') -%>
        <h1> <%= data.fname %> <%= data.lname %>  successfully saved</h1>
    </body>
</html>
