<!DOCTYPE html>
<html>
    <head>
        <title>View_users</title>
        <meta name="viewport" content="width=device-width,initial-schale=1.0" />
        <link rel="stylesheet" type="text/css" href="view_user.css" />
        
    </head>
    <body>
        <%- include ('nav_bar.ejs') -%>
        <h1>Users</h1>
        <ol>
            <% data.forEach(function(record){ %>
                <li> <b>Name:</b> <%= record.fname %> <%= record.lname %> <br /> <b>Age:</b><%= record.age %> </li> <br /><br />
            <% }) %>
        </ol>
    </body>
</html>